___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [2]:
sal = pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [10]:
avg_basepay = sal["BasePay"].mean()
print(avg_basepay)

66325.4488404877

** What is the highest amount of OvertimePay in the dataset ? **

In [14]:
highest_overtime = sal["OvertimePay"].max()
print(highest_overtime)

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [37]:
joseph = sal[sal["EmployeeName"] == "JOSEPH DRISCOLL"]

job_title = joseph["JobTitle"].iloc[0]

print("The job title of JOSEPH DRISCOLL is: ", {job_title})

The job title of JOSEPH DRISCOLL is:  {'captain, fire suppression'}

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [38]:
payment = joseph["TotalPayBenefits"].iloc[0]
print(payment)

270324.91

** What is the name of highest paid person (including benefits)?**

In [39]:
highest_paid_person = sal.sort_values(by="TotalPayBenefits", ascending=False).iloc[0]
print(highest_paid_person)

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            general manager-metropolitan transit authority
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [40]:
lowest_paid_person = sal.sort_values(by="TotalPayBenefits", ascending=True).iloc[0]
print(lowest_paid_person)

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            counselor, log cabin ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                   0.0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [41]:
average_base_pay_per_year = sal.groupby("Year")["BasePay"].mean()
print(average_base_pay_per_year)

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [42]:
sal["JobTitle"].nunique()

1637

** What are the top 5 most common jobs? **

In [43]:
common_jobs = sal["JobTitle"].value_counts().head(5)
print(common_jobs)

JobTitle
transit operator    9424
special nurse       5791
registered nurse    4955
custodian           3214
firefighter         3153
Name: count, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [44]:
job_titles_2013 = sal[sal["Year"] == 2013]["JobTitle"]
all_job_titles = job_titles_2013.value_counts()
unique_job_titles = (all_job_titles == 1).sum()
print("Number of job titles represented by only one person in 2013:", unique_job_titles)

Number of job titles represented by only one person in 2013: 202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [45]:
sal["JobTitle"] = sal["JobTitle"].str.lower()
count_chief = sal[sal["JobTitle"].str.contains("chief", na=False)]["EmployeeName"].nunique()
print("Number of people with the word 'Chief' in their job title:", count_chief)

Number of people with the word 'Chief' in their job title: 517

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [50]:
sal["JobTitleLength"] = sal["JobTitle"].apply(len)

sal[["JobTitleLength","TotalPayBenefits"]].corr()

                  JobTitleLength  TotalPayBenefits
JobTitleLength          1.000000         -0.036878
TotalPayBenefits       -0.036878          1.000000

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!